research
xcshareddata
DerivedData
xcuserdata
.texpadtmp
.DS_Store

# IDE configuration
/.idea/
*.iml

# Compilation product and byproducts
/build/
/output/
*.o
*.pdf
*.WAD
cmake-build-debug
CMakeFiles
cmake-fab
